<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CTC Breakup</title>
    <link rel="stylesheet" href="../../public/css/CTCBreakup.css" />
  </head>

  <body>
    <!-- Start of Page 1 -->
    <div class="page">
      <div class="header-image">
        <img src="../../public/img/logo.png" alt="Logo" />
      </div>
      <div class="table">
        <h3>CTC Breakup</h3>
        <table width="100%">
          <tr>
            <td height="25" align="left" valign="middle"><b> Name</b></td>
            <td colspan="3" align="left" valign="middle">
              Bhaskar Tripathi Chaudhry
            </td>
            <td align="left" valign="middle"><b> Emp Id</b></td>
            <td align="left" valign="middle">ADV-1000</td>
          </tr>
          <tr>
            <td height="30" align="left" valign="middle"><b> Job Role</b></td>
            <td align="left" valign="middle">Process Support Executive</td>
            <td align="left" valign="middle"><b> Job Level</b></td>
            <td align="left" valign="middle">Squad Leader</td>
            <td align="left" valign="middle"><b> Financial Year</b></td>
            <td align="left" valign="middle">2023-2024</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="center" valign="middle">
              <b>Description</b>
            </td>
            <td><b>Monthly</b></td>
            <td><b>Yearly</b></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">Basic</td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="24" align="left" valign="middle">HRA</td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Provident Fund
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Gratuity
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="24" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="center" valign="middle">
              <b>Allowances</b>
            </td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Internet Bills
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="30" align="left" valign="middle">
              Laundry
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Netflix
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="center" valign="middle">
              <b>Bonus</b>
            </td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Performance Bonus
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle">
              Festival Bonus
            </td>
            <td>1</td>
            <td>12</td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="left" valign="middle"><br /></td>
            <td><br /></td>
            <td><br /></td>
          </tr>
          <tr>
            <td colspan="4" height="25" align="center" valign="middle">
              <b>Total</b>
            </td>
            <td>9</td>
            <td>108</td>
          </tr>
        </table>
      </div>
      <div class="disclaimer">
        ** Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
        condimentum, nisl in tincidunt aliquam, nunc nunc lacinia nunc, nec
        tincidunt nunc nunc nec nunc. Nulla condimentum, nisl in tincidunt
        aliquam, nunc nunc lacinia nunc, nec tincidunt nunc nunc nec nunc. **
      </div>
      <div class="comments">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          condimentum, nisl in tincidunt aliquam, nunc nunc lacinia nunc, nec
          tincidunt nunc nunc nec nunc. Nulla condimentum, nisl in tincidunt
          aliquam, nunc nunc lacinia nunc, nec tincidunt nunc nunc nec nunc.
      </div>
    </div>

    <!-- End of Page 1 -->
  </body>
</html>
