<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement NIL</title>
    <link rel="stylesheet" href="../../public//css/Agreement_NIL.css">
</head>

<body>

    <div class="page">
        <div class="header">
            <div class="left">
                <div class="logo">
                    <img src="https://zivaka-test-bucket.s3.ap-southeast-1.amazonaws.com/AdventAssets/Advent+Education+Logo.png"
                        alt="logo">
                </div>
                <div class="title">
                    <h1>Advent Education Global Advisors Private Limited</h1>
                </div>
                <div class="yellowShade"></div>
                <div class="text">
                    <p>A Unit of Advent Education</p>
                </div>
            </div>
            <div class="right">
                <img src="https://zivaka-test-bucket.s3.ap-southeast-1.amazonaws.com/AdventAssets/AdventImage.jpg"
                    alt="logo">
            </div>
        </div>

        <div class="main">
            <div class="content">
                <h5>This Agreement is between:</h5>
                <p>
                    <b>Advent Education Global Advisors Private Limited</b> having its city office at PS Qube Building,
                    Floor
                    10th, Room – no 1001 Newtown, Kolkata 700161 Represented by its Director Mr. Abhishake De Sarkar son
                    of Late Samar De Sarkar referred as “The Firm” And
                </p>
                <p>
                    Student name (Passport No:xxxxxxx) Daughter of Mr. xxxxx, residing at xxxxxxx Pin xxxxx, State
                </p>
                <p>
                    WHEREAS referred as “The client” wishes to apply for admission to study in Country and whereas the
                    firm has expertise in preparing the student application.
                </p>
                <p>
                    <b>THE PARTIES AGREE AS FOLLOWS:</b> <br>
                <ol>
                    <li>
                        The client will provide the firm with all documents in relation to the application as
                        recommended by the firm.
                    </li>
                    <li>
                        The firm will use their best efforts to assist in preparing the student admission Application.
                    </li>
                    <li>
                        The firm charges a consultancy fee as specified in Annexure A
                    </li>
                    <li>
                        The firm assist the client only in admission process and doesn't in any way assist Him/her with
                        job placements or settlement opportunities abroad. It is understood by the Client that he or she
                        is going abroad for the purpose of education only and has advised to this purpose alone. Not
                        fulfilling this purpose would lead to breach of permit/visa and the student and /or their
                        guardian/parents/sponsors would be fully responsible of any adverse effect of this.
                    </li>
                    <li>
                        The firm does not guarantee visa as it's a sole discretion of respective embassy.
                    </li>
                    <li>
                        The firm does not accept any payments towards the tuition fees and living expenses. All payments
                        are made in the name of the Education institute as Bank Draft or Swift and the firm is only
                        acting as a forwarding agent for the same. The Educational institute will be solely responsible
                        for any refunds as per their terms and conditions. The client is aware that fees are not
                        refundable after the visa.
                    </li>
                    <li>
                        The client understands that work without authorization can lead to deportation and other legal
                        problems.
                    </li>
                    <li>
                        All disputes are subject to West Bengal jurisdiction only.
                    </li>
                </ol>
                </p>
                <p>
                    I indemnify my consultant, ADVENT EDUCATION GLOBAL ADVISORS PVT LTD, from an act of omission or
                    Commission done by me for the purpose of admission and student visa and I absolve them of any risk
                    or liability that may occur due to such misrepresentation of facts related to my education, finance,
                    intentions and work placements etc.
                </p>
                <p>
                    All the information and documents submitted to ADVENT EDUCATION GLOBAL ADVISORS PVT LTD are genuine
                    and true.
                    The client agrees to have read and understood all the clauses of this agreement and agrees to abide
                    by them in free consent without an undue influence.

                </p>
            </div>
            <div class="Annexure">
                <h5>Annexure A</h5>
                <div class="container">
                    <div class="containerLeft">
                        <h6>Terms of Payment</h6>
                        <p>For Study in <b>Europe with Low Education Fees</b></p>
                        <p><span style="color: #fac13b; margin-left: 5px;">&#10146;</span> Consultancy fees: <b>INR 2000
                                + GST 18%</b></p>
                        <span style="font-size: 8px;">ADVENT EDUCATION GLOBAL ADVISORS PVT. LTD.</span>
                    </div>
                    <div class="containerRight">
                        <h6>Optional</h6>
                        <p id="VISA"><span style="color: #fac13b;">&#10146;</span> <b>Visa Profiling (If Client wants to
                                opts for
                                VISA Profiling)</b></p>
                        <p><b>INR 2000 + GST 18%</b></p>
                        <span style="font-size: 8px;margin: 0px;">ADVENT EDUCATION GLOBAL ADVISORS PVT. LTD.</span>
                    </div>
                </div>
                <div class="content">
                    <h6>Payable: 1st Payment 2000 + GST 18%</h6>
                    <br>
                    <h6>Option 1</h6>
                    <p>
                        Refundable deposit if the firm unable to get admission this money will be refunded. If client
                        get offer letter this amount is non-refundable.
                    </p>
                    <br />
                    <h6>Option 2</h6>
                    <p>
                        Client also has option to pay 1899 INR + GST as a registration fees and rest 18101 INR + GST
                        after
                        offer letter, if client opt for this option, then client is aware that 1899 INR + GST is a
                        non-refundable registration fee
                    </p>
                    <br />
                    <p>
                        <b><u>Declaration:</u></b>
                        I have understood the legal terms of this contract and give my consent to engage Advent
                        Education
                        Global Advisors Pvt Ltd as my overseas education consultant to proceed further.
                    </p>
                </div>
                <br>
                <br>
                <i>Signature:</i>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="signatures">
                    <div class="signature">
                        <b>Name: Student Name</b>
                    </div>
                    <div class="signature">
                        <b>Mr. Abhishake De Sarkar</b>
                        <p>(Director Advent Education Global Advisors Pvt. Ltd)</p>
                    </div>
                </div>

            </div>
        </div>


</body>

</html>